@use 'varutils' as *;

.login h1 a,
p.forgetmenot,
p#backtoblog,
form#language-switcher {
  display: none !important;
}

p.custom-login-logo-text {
  font-weight: $fw-700 !important;
  font-size: $fs-24;
  text-align: center;
}

input#wp-submit {
  width: 100%;
  padding: 0.25em 1em;
}

p#nav {
  text-align: center;
}