.login h1 a,
p.forgetmenot,
p#backtoblog,
form#language-switcher {
  display: none !important;
}

p.custom-login-logo-text {
  font-weight: var(--fw-700) !important;
  font-size: var(--fs-24);
  text-align: center;
}

input#wp-submit {
  width: 100%;
  padding: 0.25em 1em;
}

p#nav {
  text-align: center;
}