@use '../global' as *;

#login h1.wp-login-logo,
#login p#backtoblog,
.language-switcher,
.login .privacy-policy-page-link,
p.forgetmenot {
  display: none !important;
}

p.custom-login-logo-text {
  font-size: 1.5rem;
  line-height: 1.1;
  font-weight: 700;
  text-align: center;
  margin-bottom: 15px;
}

.login form {
  margin-top: 0;
  border: 1px solid black;
}

.login .message,
.login .notice,
.login .success {
  margin-bottom: 15px;
  border-left: 0;
  border: 1px solid black;
}


.login form .input {
  border-radius: 0;
  font-size: 1rem;
  border: 1px solid black;
}

.submit input#wp-submit {
  width: 100%;
  font-size: 1rem;
  border-radius: 0;
  min-height: 42px;
}

a.wp-login-lost-password {
  text-decoration: underline !important;
}